
/* Font import from file */
@font-face {
    font-family: "barlow";
    src: url(../source/font/Barlow-Regular.ttf);
}

html {
    font-family: barlow; /* Setting the imported font */
    color: rgb(12, 37, 37);
    background-image: url("../source/images/background.jpg");
}

body {
    display: flex; 
    flex-direction: column; /* this will organize all the page elements into a vertical format. */
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20%;
    padding-right: 20%;
    
}

h2 {
    color: rgb(147, 231, 231);
    background-color: rgb(80, 27, 6);
    border-radius: 6px;
    padding: 5px;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(173, 227, 236);
    border-left: solid 5px  rgb(80, 27, 6);
    border-right: solid 5px  rgb(80, 27, 6);
}

/* Body's Main Style */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: beige;
    border-left: solid 5px  rgb(80, 27, 6);
    border-right: solid 5px  rgb(80, 27, 6);
}

.character-portrait {
    height: 200px;
    width: auto;
    padding: 5px;
}

#explanation {
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(80, 27, 6);
    border-radius: 5%;
    padding: 2%;
    height: fit-content;
    width: fit-content;
}

#play-button {
    color: beige;
    background-color: rgb(80, 27, 6);
    width: fit-content;
    padding: 5px;
    border-radius: 20%;
    align-self: center;
}

#play-button:hover {
    color: rgb(80, 27, 6);
    background-color: beige;
    border: solid 2px rgb(80, 27, 6);
}

#play-button:active {
    color: beige;
    background-color: rgb(80, 27, 6);
}

.play-area {
    visibility: hidden;
    width: 0;
}

#game-result {
    position: absolute;
    visibility: hidden;
    width: 0;
}

/* Footer's Style */ 
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgb(173, 227, 236);
    padding: 5px;
    padding-bottom: 2%;
    border-left: solid 5px  rgb(80, 27, 6);
    border-right: solid 5px  rgb(80, 27, 6);
}

/* Unsure why they won't aling themselves when using justify content in the parent, so here we are */
#signature {
    align-self: center;
}

#back_to_top {
    width: auto;
    align-self: center;
    padding-right: 5px;
    padding-left: 5px;
}


/* Dynamic Spacing */

/* NEED TO MAKE THE BG DYNAMIC*/
  
/* Medium Width Screens */
@media screen and (max-width: 1269px) and (min-width: 800px) {
    body {
    padding-left: 10%;
    padding-right: 10%;
    }

.article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.image {
    border: 0;
    border-radius: 0;
    padding: 1px;
    height: 300px;
    width: auto;
    justify-self: center;
    align-self: center;
}

.textbit {
    height: fit-content;
}

  }
  
/* Portrait Mode */  
@media screen and (max-width: 799px) {
    
    body {
        margin: 0;
        padding: 0;
    }

    header, main, footer {
        border: 0;
    }

    .article {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    /* Make the images go away! */
    .image {
        visibility:hidden;
        height: 0;
    }

    .textbit {
        padding-left: 5%;
        padding-right: 5%;
    }
  }
  